<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miggyisidro.mysterymanilabetademo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconmm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegisterUserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BookingsActivity" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".ViewGameActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".GroupDetailsActivity" />
        <activity android:name=".OCRActivity" />
        <activity android:name=".PlayerDetailsActivity" />
        <activity android:name=".TermsActivity" />
        <activity android:name=".OSHomeActivity" />
        <activity android:name=".ViewGamePostGame" />
        <activity android:name=".PostGame" />
        <activity android:name=".OngoingActivity"></activity>
    </application>

</manifest>